<%= render 'show' %>
<div class="row justify-content-center">
  <% current_user.bookmark_books.each do |book| %>
    <div class="col-md-1 mb-3">
      <div class="card">
        <%= link_to book_path(book.isbn) do %>
          <%= image_tag book.medium_image_url %>
        <% end %>
        <div class="card-body text-center">
          <p class="card-text"><%= book.bookmarks.count %><i class="far fa-bookmark"></i></p>
          <div class="btn-group d-flex justify-content-center">
            <% if book.bookmarked_by?(current_user) %>
              <%= link_to book_bookmarks_path(book), method: :delete, class: "btn btn-danger" do %>
                <i class="fas fa-bookmark"></i>
              <% end %>
            <% else %>
              <%= link_to book_bookmarks_path(book), method: :post, class: "btn btn-primary" do %>
                <i class="far fa-bookmark"></i>
              <% end %>
            <% end %>
            <button class="btn btn-success"><i class="fas fa-eye"></i></button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

