<div style="display: flex; align-items: center; flex-wrap: wrap;">
  <div style="width: 100%; text-align: center;">
    <h2><%= @book.title %> (<%= @book.publisher_name %>)</h2>
    <p><%= @book.author %></p>
    <hr style="width: 80%;">
  </div>
  <div style="width: 100%; margin-top: 20px; margin-bottom: 20px;">
    <div style="display: flex; justify-content: space-between; margin-left: -16px; margin-right: -16px;">
      <div class="col-3"></div>
      <div class="col-3 d-flex flex-column justify-content-center align-items-center" style="padding: 0 16px;">
        <%= image_tag @book.large_image_url %>
        <div style="display: flex; flex-wrap: wrap; justify-content: center; margin-top: 10px;">
          <% if @book.bookmarked_by?(current_user) %>
            <%= link_to book_bookmarks_path(@book), method: :delete do %>
              <i class="fas fa-bookmark fa-lg"></i>
            <% end %>
          <% else %>
            <%= link_to book_bookmarks_path(@book), method: :post do %>
              <i class="far fa-bookmark fa-lg"></i>
            <% end %>
          <% end %>
          <%= @book.bookmarks.count %>
          <%= link_to "読んだ", new_book_review_path(@book) %> 
        </div>
      </div>
      <div class="col-4" style="padding: 0 16px;">
        <p><%= @book.item_caption %></p>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>『<%= @book.title %>』に投稿された感想・評価</h3>
      <% @book.reviews.each do |review| %>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title mb-0"><%= review.user.name %>の感想・評価</h5>
            <p class="card-text"><small class="text-muted"><%= review.created_at.strftime('%Y年%m月%d日 %H:%M:%S') %></small></p>
            <% if review.is_exploded == true %>
              <p class="card-text">
                <a data-toggle="collapse" href="#collapseReview<%= review.id %>" role="button" aria-expanded="false" aria-controls="collapseReview<%= review.id %>" style="color: red;">
                  ネタバレを表示
                </a>
              </p>
              <div class="collapse" id="collapseReview<%= review.id %>">
                <p class="card-text"><%= review.review %></p>
              </div>
            <% else %>
              <p class="card-text"><%= review.review %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

