<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <p class="h4 mb-3">レビューを書く</p>
      <div class="review-box mt-3">
        <%= form_with model: @review, url: book_reviews_path, local: true do |f| %>
          <!-- レビュー本文入力欄 -->
          <div class="form-group">
            <%= f.text_area :review, class: "form-control" %>
          </div>
          <!--　ネタバレ防止スイッチ　-->
          <div class="form-group">
            <%= f.label :is_exploded, 'ネタバレ防止：', class: 'form-check-label', for: 'spoiler-switch' %>
            <%= f.check_box :is_exploded, { class: 'form-check-input ml-1', id: 'spoiler-switch', value: '1' }, true %>
          </div>
          <!-- 送信ボタン -->
          <div class="form-group text-left">
            <%= f.submit "投稿", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

