<%= form_with model: @user, url: admin_user_path, method: :patch do |f| %>
  <div class="container">
    <div class="row">
      <h2 class="bg-light m-5"><%= @user.name %>さんの会員情報編集</h2>
    </div>
    <div class="row">
      <table class="table table-borderless table-sm w-auto">
        <tbody>
          <tr>
            <th class="w-30">会員ID</th>
            <td><%= @user.id %></td>
          </tr>
          <tr>
            <th>ユーザー名</th>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <th>会員ステータス</th>
            <td>
              <%= f.radio_button :is_deleted, false %>
              <%= f.label :is_deleted, '有効', value: false %>
              <%= f.radio_button :is_deleted, true %>
              <%= f.label :is_deleted, '退会', value: true %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row w-auto">
      <div class="col-6 text-right">
        <%= f.submit "変更を保存", class: 'btn btn-success' %>
      </div>
    </div>
  </div>
<% end %>


